<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Untitled Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
            <a class="navbar-brand" href="/">Untitled</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/game">Game</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid container-main">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= userData.name %>" aria-describedby="nameHelp" placeholder="Enter name">
                                    <% if (validation.length > 0) { %>
                                        <% for (var i = 0; i < validation.length; i++) { %>
                                            <% if (validation[i].param === 'name') { %>
                                                <small id="nameHelp" class="form-text text-danger"><%= validation[i].msg %></small>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" value="<%= userData.username %>" aria-describedby="usernameHelp" placeholder="Enter username">
                                    <% if (validation.length > 0) { %>
                                        <% for (var i = 0; i < validation.length; i++) { %>
                                            <% if (validation[i].param === 'username') { %>
                                                <small id="usernameHelp" class="form-text text-danger"><%= validation[i].msg %></small>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" value="<%= userData.password %>" aria-describedby="passwordHelp" placeholder="Enter password">
                                    <% if (validation.length > 0) { %>
                                        <% for (var i = 0; i < validation.length; i++) { %>
                                            <% if (validation[i].param === 'password') { %>
                                                <small id="passwordHelp" class="form-text text-danger"><%= validation[i].msg %></small>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label for="house">House</label>
                                    <select class="form-control" id="house" name="house" value="<%= userData.house %>" aria-describedby="houseHelp">
                                        <option value="">- Select a house -</option>
                                        <option value="arryn">House Arryn</option>
                                        <option value="baratheon">House Baratheon</option>
                                        <option value="greyjoy">House Greyjoy</option>
                                        <option value="lannister">House Lannister</option>
                                        <option value="martell">House Martell</option>
                                        <option value="stark">House Stark</option>
                                        <option value="targaryen">House Targaryen</option>
                                        <option value="tully">House Tully</option>
                                        <option value="tyrell">House Tyrell</option>
                                    </select>
                                    <% if (validation.length > 0) { %>
                                        <% for (var i = 0; i < validation.length; i++) { %>
                                            <% if (validation[i].param === 'house') { %>
                                                <small id="houseHelp" class="form-text text-danger"><%= validation[i].msg %></small>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="navbar fixed-bottom navbar-light bg-light">
            <span class="navbar-text">Copyright &copy; Untitled 2019. All rights reserved.</span>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>